<html>
	<body>
		{% if 'localhost' in request.get_host %}
		<form method="post" action="{% url django.contrib.auth.views.login %}">
		{% else %}
		<form method="post" action="https://{{ request.get_host }}/accounts/login/">
		{% endif %}
			{% csrf_token %}
			<input name="next" type="hidden" value="/hello" />
			<p>
			<span>Username</span>
			<input name="username" type="text" />
			</p>
			<p>
			<span>Password</span>
			<input name="password" type="password" />
			</p>
			<p><input type="submit" /></p>
		</form>
	</body>
</html>
